@model DAL.ViewModel.CoursesDetailViewModel
@{
    Layout = null;
    int id = ViewBag.id;
}
@inject BLL.Interface.ICoursesRep courese
@{
    var data = courese.GetById(id);
}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href="~/pics/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="~/pics/logo.png">
    <!-- First font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">  <!-- Body font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link     rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet">
<!-- Courses font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/courses.css">  
</head>


<body>

  <center><h1 id="ica">International Concept Academy</h1></center>

  <main dir="rtl">
    <br><br><br>
    <article id="content">
        <p id="ctitle">
           <b> نبذة عن الدبلوم</b> <br>
@data.Name<br>

@data.Description
        </p>

        <img src="~/Image/@data.Image">
        <br><br>
            @if (Model != null)
            {
                 <p>
            <b>@data.Name</b><br>
            <br><b>معلومات حول البرنامج</b><br> 
             @Html.Raw(@Model.Information)
<br>
            <br><b>الدراسة</b><br> @Html.Raw(@Model.Stady) <br><br>
<b>مقررات برنامج @data.Name</b><br>
 @Html.Raw(@Model.Course)
 <br><br>
<b>المستندات المطلوبة للاشتراك: -</b><br>
 @Html.Raw(@Model.RequierdDocument)
                </p>

            }
            else
            {
                <p> لم يتم وضع تفاصيل </p>
            }
           
        <center><button type="button" id="signb"><a target="_blank" href="/Home/Form"><b>تسجيل</b></a></button></center>
    </article>

  </main>
  
  <footer>

    <center><nav class="navbar bg-light">
      <div class="container-fluid">
        <span class="navbar-brand">International Concept Academy | Copyright © 2022</span>
      </div>
    </nav></center>

  </footer>
</body>
</html></html>
