@model DAL.ViewModel.RegisterViewModel
@{
    Layout = null;
}
@inject BLL.Interface.IAboutRep Active
@{
    var data = Active.GetActive();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href=".~/pics/logo.jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="~/pics/logo.jpeg">
    <!-- First font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/courses.css"> 

<!-- Courses font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/courses.css"> 
<link rel="stylesheet" href="~/css/form.css">
<style>
    select {
    border-radius: 20px;
    width: 500px;
    border-width: 1px;
    border-color: black;
    height: 35px;
    text-align: center;
}
#save{
        margin: 30px 190px;
}
#courselog button {
    width: 100px;
    color: #007f88;
    background-color: white;
    border-radius: 20px 5px;
    font-size: 30px;
}

</style>
</head>

<body>

    <center><h1 id="ica" id="footer">International Concept Academy</h1></center>

    <main>
    <header>
    </header>
    <article id="top" dir="rtl">
    <p><b>استمارة التسجيل -الماجستير- الدكتوراه - دبلوم (مهني)</b></p>
    
    <p>
        @Html.Raw(@data.Name) </p>
</article><br><br><br>
@inject BLL.Interface.ICoursesRep course
         @if (User.Identity.IsAuthenticated)
         {
             <div id="courselog" dir="rtl">
                 
              <label>اسم الماجستير-الدكتوراه-الدبلوم( المراد الحصول عليه ) <span style="color:#ff0000">*</span></label><br>
        <br>
              <select id="cou" asp-for="CourseId" autofocus>
            <option value="0">اختر الاسم</option>

            @foreach (var item in course.GetAll())
           {
            <option value="@item.Id">@item.Name</option>
               
           }
        </select>
        <br>
        <span id="sp1" style="margin: 90px;"  class="text-danger"> يجب الاختيار</span>

        <br>
                @if (User.IsInRole("User"))
                {
                    <button id="save" >تسجيل</button>
                }
                
       </div>
         }
        else
        {
             <form dir="rtl" asp-action="Form">
                    <div asp-validation-summary="All" class="text-danger"></div>

        <label>اسم الماجستير-الدكتوراه-الدبلوم( المراد الحصول عليه ) <span style="color:#ff0000">*</span></label><br>
        <select asp-for="CourseId" autofocus>
            <option value="0">اختر الاسم</option>

            @foreach (var item in course.GetAll())
           {
            <option value="@item.Id">@item.Name</option>
               
           }
        </select>
        <br>
        <span asp-validation-for="CourseId" style="margin: 90px;"  class="text-danger"></span>
        <br>
        <label>الاسم باللغة العربية <span style="color:#ff0000">*</span></label><br>
        <input asp-for="Name" type="text"  autofocus><br>
        <span asp-validation-for="Name" style="margin: 90px;"  class="text-danger"></span>
        <br>

        <label>رقم الواتس أب <span style="color:#ff0000">*</span></label><br>
        <input asp-for="phone" type="text" required autofocus><br>
        <span asp-validation-for="phone" style="margin: 90px;"  class="text-danger"></span>
        <br>
        <label>البريد الالكتروني<span style="color:#ff0000">*</span></label><br>
        <input asp-for="Email" type="email" autofocus><br>
        <span asp-validation-for="Email" style="margin: 90px;"  class="text-danger"></span>
        <br>
        <label>الدولة <span style="color:#ff0000">*</span></label><br>
        <input asp-for="Countery" type="text"  autofocus><br>
        <span asp-validation-for="Countery" style="margin: 90px;"  class="text-danger"></span>
        <br>
        <label>كلمة المرور <span style="color:#ff0000">*</span></label><br>
        <input asp-for="Password" type="password"  autofocus><br>
        <span asp-validation-for="Password" style="margin: 90px;"  class="text-danger"></span>
        <br>
        <label>تأكيد كلمة المرور <span style="color:#ff0000">*</span></label><br>
        <input asp-for="ConfirmPassword" type="password"  autofocus><br>
        <span asp-validation-for="ConfirmPassword" style="margin: 90px;"  class="text-danger"></span>
        <br>
        <button type="submit">ارسال</button>
    </form>
        }
       
    </main>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
$(document).ready(function () {
    $("#sp1").hide();

   $("#save").click(function(){
       save();
   })
});
function save(){
    var courseid=$("#cou").val();
    if(courseid !=0){
    $("#sp1").hide();

        $.ajax({

                        type: "POST",
                        url: "/Home/AddUserCourse",
                        data: {
                            id: courseid,

                        },

                        success: function (res) {
                            if(res==true){
                                swal("success!", "تم التسجيل بنجاح سيتم التواصل معك ", "success").then(function () {
                window.location = "/Home/index"
            });
                            

                            }
                            else{
                                swal("error!", "تم التسجيل من قبل  ", "success").then(function () {
                window.location = "/Home/index"
            });
                            }
                            

                        }

                    });
    }
    else{
    $("#sp1").show();

    }
     
}
</script>